body {background-color: #ffffff;}
p {color: #555555;}
ul {color: #555555;}
h1 {color: #00eeff;}
h2 {color:#00eeff;}
h3 {color: #555555;}
nav:hover {color:#00eeff;}
caption {color: #555555;}
th {color: #00eeff;}
tr {color: #000000;}
a:hover {color: #ffe100}
.evenrow {background-color: lightgrey;}
form {color:#555555;}
.sub:hover {color: #ffe100;}
.rad:hover {color: #ffe100;}
.nv:hover {color: #ffe100;}
nav a {color: #00eeff;}
nav {background-color: #555555;}
nav a:hover {background-color: #00eeff}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
a {color: yellow}
.foot {float: right;}
.foot1 {float: left;}
.a1 {display: flex;}
.address {flex:1;}
.contactlinks {flex:1; }
.a1 {background-color: #ffffff; border-radius: 1em;}
.a2 {display: flex;}
.form1 {flex:1;}
.map {flex:1;}
.a2 {background-color:#ffffff; border-radius: 1em; padding: 10px;}
.contact {background-color: #555555;}
.pageheading {display: flex;
              justify-content: center;}
.row1 {display:flex;
       flex:3;}
.otherskills {
              background-color: #555555;
              color:#ffffff;
              border-radius: 1em;
              padding: 1em;
              flex:1;}
.parenttag1 {display:flex;
             justify-content:space-between;
             margin: 10px;}
.otherskillstitle {color: #00eeff;
                   float:inline-start;
                    padding-right:5px;}
.intro1 {display: flex;
    width:75%;
    padding-left:40px;}
.icon1, .icon2, .icon3, .icon4, .icon5 {padding: 2em;}
.indexbanner{width:100%;}
.a2 {flex-wrap:wrap;}
@media only screen and (max-width: 600px) {nav a{max-width:100%;
                                                 display:block;
                                                 margin:5px;}
                                           .nopipe{display:none;}}      
.skip {background-color:#555555;
    border: 1px solid #00eeff;
    padding: 2px;
    position: absolute; /*out of page flow for layout*/
    left: -999px; }
.skip:focus {left:10px;
             top:30px;}                                                                                         