h1, h2, h3 {color: #00e600dd;font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;}
p {margin-left: 10px; margin-right:10px; font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;}
ul {margin-left:-15px;font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;}
body {font-family: Verdana, Geneva, Tahoma, sans-serif;}
#navi {display:flex; justify-content:space-around; background-color: #00e600dd; padding:1em;}
.nv {color:#ffffff; font-size:x-large; }
.nv:hover {color:green}
a {color:#00e600dd;}
a:hover {color:green;}
#renexamples{color:#ffffff; text-align: center;}
.parenthead {display:flex;
             border-width: 2px;
             border-color: #00e600dd;}
.logohead, .titlehead {flex:wrap;}
#tagline {font-size:medium;}
@media only screen and (max-width: 500px) {body #title{font-size: small;}#tagline{font-size: smaller;}.nv{font-size: smaller;}}
#skip {background-color:#00e600dd;
    border: 1px solid #000000;
    padding: 2px;
    position: absolute; /*out of page flow for layout*/
    left: -999px; 
    color:#ffffff;}
#skip:focus {left:10px;
             top:30px;}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rubik&display=swap');
footer {background-color: #00e600dd;}
#parent1 {display:flex;flex-wrap:wrap;}
#aip {flex:1; word-wrap: normal ;}
#thumbnails {Flex:1; padding-top:10px; margin:auto;}
#slideshow {flex:1; padding: 10px; background-color: #00e600dd; border-radius: 1em;}
#bath, #show, #kitch, #ram {display:none; margin:0 auto;}
@media only screen and (min-width: 500px) {body #slideimagesS{display:none;}}
@media only screen and (max-width: 500px) {body #slideshow {width:250px;} #slideimagesL{display:none;}}