body {font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1, h2, h3 {color: deepskyblue;}
.evenrow {background-color: lightgrey;}
h1 {font-size: 3em;}
h2 {font-size: 2em}
caption {color: forestgreen;}
p {color: #555555}
